# Files
.dockerignore
.env
.env.example
.gitignore

compose.yml
Dockerfile
haven
haven.asc
LICENSE
README.md
relays_blastr.json
relays_blastr.example.json
relays_import.json
relays_import.example.json

# Directories
.idea
.git
blossom
db
nginx
templates
backup
dist

# Patterns
**/.DS_Store
